*{
    margin: 0;
    padding: 0;
}
.local-main-container{
    height: auto;
    width: 100%;
    background-image: url(resources/banner.png);
    background-position: center;
    background-size: cover;
}