@import url('https://fonts.googleapis.com/css2?family=Asar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asar&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0;
    padding: 0;
}
.title{
    width: auto;
    height: auto;

    justify-content: center;
    padding-top: 20%;
    padding-left: 8%;
    padding-right: 10%;
    padding-bottom: 20%; /*HAHSHAHSHAH padding ezzz so easyy coding skskskksks*/
    
    font-family: "Rethink Sans", sans-serif;
    font-weight: normal;
    font-style: normal; 
    font-size: calc(9px + 9.5vw);
}
.content{
    margin: 0;
    padding: 0;
    font-family: "Asar", serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    font-size: calc(8px + 1vw);
}   

    .main-content{
        margin: 1vh;
        height: 1000px;
        width: 500px;
        min-width: 200px;

        text-align: center;
        justify-content: center;
        align-content: center;

        background-color: blue;
    }
    .announcements{
        margin: 1vh;
        height: 400px;
        width: 300px;
        min-width: 200px;

        text-align: center;
        justify-content: center;
        align-content: center;

        background-color: rgb(0, 0, 0);
    }



.local-cover{
    height: 100vh;
    width: 100%;
    background-image: url(../resources/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}